:root {
  --main-blue:rgb(44, 62, 80);
  --main-light-blue:rgb(58, 84, 109);
  --main-green:rgb(26, 188, 156) ;
}

img {
  max-width: 100%;
}

/* star and line */

.star .line {
  height: 100%;
  width: 20%;
  border: 2px solid white;
  padding: none;
}
.star i {
  color: white;
}

.star-dark .line-dark {
  height: 100%;
  width: 20%;
  border: 2px solid var(--main-blue);
  padding: none;
}
.star-dark i {
  color: var(--main-blue);
}

/* /star and line */

.highlighter {
  color: var(--main-green);
}

/* generic rules */

.debug {
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px solid black;
}

.debug-2 {
  background-color: rgba(0, 0, 255, 0.3);
  border: 1px solid black;
  min-height: 50px;
}

.debug-3 {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  min-height: 50px;
}

/* utilities */

header {
  height: 90px;
  background-color: #2C3E50;
}

/* JUMBOTRON */

.mm-jumbotron {
  background-color: var(--main-green);
}

.mm-jumbotron img {
  width: 250px;
}

/* /JUMBOTRON */

/* MAIN SECTION ABOUT */

#about-us {
  background-color: var(--main-green);
}

/* FORM STYLE */


.mm-form input,
.mm-form textarea {
border: none;
border-radius: 0px;
border-bottom: 1px solid lightgrey;
}

.mm-form input::placeholder,
.mm-form textarea::placeholder {
  color: black;
}

.mm-form button {
  background-color: var(--main-green);
  border: none;
}

/* FOOTER STYLE */

#contact-and-social {
  background-color: var(--main-light-blue);
}

#contact-and-social ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
}

#contact-and-social ul li a i {
  border-radius: 50%;
  padding: 20px;
  border: 1px solid white;
  color: white;
}

#copiright {
  background-color: var(--main-blue);
}

.copiright.container {
  margin: 0px auto;
  height: 50px;
}