:root {
  --main-blue:rgb(44, 62, 80);
  --main-light-blue:rgb(58, 84, 109);
  --main-green:rgb(26, 188, 156) ;
}

img {
  max-width: 100%;
}

/* star and line */

.star .line {
  height: 100%;
  width: 20%;
  border: 2px solid white;
  padding: none;
}
.star i {
  color: white;
}

.star-dark .line-dark {
  height: 100%;
  width: 20%;
  border: 2px solid var(--main-blue);
  padding: none;
}
.star-dark i {
  color: var(--main-blue);
}

/* /star and line */


/* generic rules */

.debug {
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px solid black;
  min-height: 50px;
}

.debug-2 {
  background-color: rgba(0, 0, 255, 0.3);
  border: 1px solid black;
  min-height: 50px;
}

.debug-3 {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  min-height: 50px;
}

/* utilities */

header {
  height: 90px;
  background-color: #2C3E50;
}

/* JUMBOTRON */

.mm-jumbotron {
  background-color: var(--main-green);
}

.mm-jumbotron img {
  width: 250px;
}

/* /JUMBOTRON */

/* MAIN SECTION ABOUT */

#about-us {
  background-color: var(--main-green);
}
